<ul class="nav">
	<li>
		<input type="checkbox">Fog of War</checkbox>
	</li>
	<li>
		<input type="checkbox">Include Walls</checkbox>
	</li>
	<li>
		<a class="btn btn-default">Select Opponent</a>
	</li>
	<li>
		<a class="btn btn-default">Save Script</a>
	</li>
	<li>
		<a class="btn btn-default">Run Script</a>
	</li>
</ul>